body{
    margin: 5%;
}

p{
    color: black;
    font-family: Arial;
    text-align: justify;
}
.nombre{
    color: blueviolet;
    font-family: sans-serif;

}
h6{
    color: grey;
    text-align: center;
}
h1{
    text-align: center;
    text-shadow: 10px;
}